#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors/mouse_keys.dtsi>

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1400
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 100

// unpair and re-pair the keyboard for it to be recognised as a pointer device as well.


&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <200>;
};

&mmv {
   time-to-max-speed-ms = <100>; // Pretty understandable
   acceleration-exponent=<2>; // if 0 it always goes at max speed, otherwise higher exponent more quickly it reaches max speed

    /*
     *if (duration_ms > config->time_to_max_speed_ms || config->time_to_max_speed_ms == 0 ||
     *       config->acceleration_exponent == 0) {
     *       return max_speed;
     *   }
     *   float time_fraction = (float)duration_ms / config->time_to_max_speed_ms;
     *   return max_speed * powf(time_fraction, config->acceleration_exponent);
     *   The exponent is usually set to 0 for constant speed, 1 for uniform acceleration or 2 for uniform jerk.
    */
};

/*
&msc SCRL_RIGHT &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP
&mkp MB2  &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_UP &mmv MOVE_RIGHT
*/

&msc {
     time-to-max-speed-ms = <100>;
    acceleration-exponent = <2>;
};

&sl {
    ignore-modifiers;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        td: tapdance {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPDANCE";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        bspc_del: backspace_delete {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp DELETE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            keep-mods = <(MOD_RSFT)>;
        };

        lyr1: sticky_to_layer1 {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&sl 1>, <&to 1>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            keep-mods = <(MOD_RSFT)>;
        };
    };

/*
    combos {
        compatible = "zmk,combos";
        to_symbol_layer_sticky {
            timeout-ms = <5000>;
            key-positions = <42 47>;
            bindings = <&sl 2>;
        };

        to_func_layer_sticky {
            timeout-ms = <5000>;
            key-positions = <15 42>;
            bindings = <&sl 3>;
        };
    };
*/

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  Q  |  W  |  F   |  P   |  T   |                                          |  J   |  L    |  U    |  Y   | BKSPC |  //  |
            // |  A  |  R  |  S   |  T   |  G   |                                          |  M   |  N    |  E    |  I   |   O   |  //  |
            // |  Z  |  X  |  C   |  D   |  V   |  //  |  //  |              |  //  |  //  |  K   |  H    |  /    |  .   |   ,   |  //  |
            //                     | //  | //  | LYR  |  SHIFT  |  ESC  |    |  RET  |  CTRL  | TAB  | //  | // |

            bindings = <
&none  &kp Q  &kp W  &kp F  &kp P  &kp B                                                      &kp J      &kp L  &kp U     &kp Y    &bspc_del   &none
&sl 2  &kp A  &kp R  &kp S  &kp T  &kp G                                                        &kp M  &kp N  &kp E     &kp I    &kp O   &sl 1
&kp LGUI  &kp Z  &kp X  &kp C  &kp D  &kp V              &none  &none      &none  &none             &kp K      &kp H  &kp FSLH  &kp DOT  &kp COMMA  &kp LGUI
                     &none  &kp LALT  &sl 3  &kp LCTRL  &kp ENTER  &kp ESC  &kp LSHIFT  &mt LC(LS(LALT)) SPC  &kp LALT  &none
            >;

            label = "base";
        };

        functional_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  Q  |  W  |  F   |  P   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |  //  |
            // |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |  //  |
            // |  Z  |  X  |  C   |  D   |  V   |  //  |  //  |              |  //  |  //  |  N   |  M    |  ,    |  .   |   /   |  //  |
            //                     | GUI  | DEL  | RET  |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |

            bindings = <
&trans  &kp N0 &kp N1  &kp N2  &kp N3  &kp N4                                              &none &kp HOME  &kp END  &kp INS  &trans &trans 
&trans  &kp N5 &kp N6 &kp N7  &kp N8  &kp N9                                              &kp TAB &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans 
&trans  &trans &trans &trans  &kp Y  &trans          &trans  &trans   &trans  &trans          &none  &none &none &none &none  &trans
           &trans  &trans  &none  &trans  &trans                              &trans  &trans  &to 0  &trans  &trans
            >;

            label = "fnc";
        };

        symbol_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  Q  |  W  |  F   |  P   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |  //  |
            // |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |  //  |
            // |  Z  |  X  |  C   |  D   |  V   |  //  |  //  |              |  //  |  //  |  N   |  M    |  ,    |  .   |   /   |  //  |
            //                     | GUI  | DEL  | RET  |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |

            bindings = <
&trans  &kp HASH   &kp AMPS  &kp PIPE  &kp EXCL  &kp QMARK                                                       &kp SQT &kp NUBS  &kp LT   &kp GT   &trans   &trans
&trans  &kp PRCNT  &kp COLON  &kp EQUAL &kp UNDER &kp SEMI                                            &kp DQT &kp CARET &kp LBRC &kp RBRC &kp DLLR &trans
&trans  &kp GRAVE  &kp STAR &kp MINUS &kp PLUS   &kp TILDE          &trans  &trans  &trans  &trans          &kp ATSN &kp LBKT  &kp LPRN &kp RPRN &kp RBKT &trans
                            &trans    &trans    &none    &trans  &trans                      &trans  &trans  &to 0     &trans    &trans
            >;

            label = "symb";
        };


        f_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  Q  |  W  |  F   |  P   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |  //  | 
            // |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |  //  |
            // |  Z  |  X  |  C   |  D   |  V   |  //  |  //  |              |  //  |  //  |  N   |  M    |  ,    |  .   |   /   |  //  |
            //                     | GUI  | DEL  | RET  |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |

            bindings = <
&trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5                                               &kp F16  &kp F17  &kp F18  &kp F19  &kp F20  &trans
&trans  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10                                                &kp TAB &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans
&trans  &kp F11  &kp F12  &kp F13  &kp F14  &kp F15      &trans  &trans  &trans  &trans      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_CLR &trans
                         &trans  &trans   &none  &trans  &trans          &trans  &trans  &to 0  &trans  &trans
            >;

            label = "fk";
        };

    };
};
